
body {  
    background-color:salmon;   
    text-align: center; 
    }

.main {
        position: absolute;
        top: 100px;
        left: 20px;
        height: auto;
        width: 55%;
    }

.one {
    position: absolute;
    top: 190px;
    left: 20px;
    height: auto;
    width: 55%;
}

.two {
    position: absolute;
    top: -70px;
    left: 600px; 
    height: auto;
    width: 30%;
}

.three {
    position: absolute;
    top: -70px;
    left: 940px;
    height: auto;
    width: 30%;
}

.four{
    position: absolute;
    top: -70px;
    left: 1280px;
    height: auto;
    width: 30%;
}

.five {
    position: absolute;
    top: 92px;
    left: 600px;
    height: auto;
    width: 30%;

}

.six {
    position: absolute;
    top: 92px;
    left: 940px;
    height: auto;
    width: 30%;
}

.seven {
    position: absolute;
    top: 92px;
    left: 1280px;
    height: auto;
    width: 30%;
}

.eight {
    position: absolute;
    top: 254px;
    left: 600px;
    height: auto;
    width: 30%;
}

.nine {
    position: absolute;
    top: 254px;
    left: 940px;
    height: auto;
    width: 30%;
}

.ten {
    position: absolute;
    top: 254px;
    left: 1280px;
    height: auto;
    width: 30%;
}

.eleven {
    position: absolute;
    top: 416px;
    left: 600px;
    height: auto;
    width: 30%;
}

.twelve {
    position: absolute;
    top: 416px;
    left: 940px;
    height: auto;
    width: 30%;
}

.thirteen {
    position: absolute;
    top: 416px;
    left: 1280px;
    height: auto;
    width: 30%;
}

.fourteen {
    position: absolute;
    top: 578px;
    left: 600px;
    height: auto;
    width: 30%;
}

.fifteen {
    position: absolute;
    top: 578px;
    left: 940px;
    height: auto;
    width: 30%;
}

.sixteen {
    position: absolute;
    top: 578px;
    left: 1280px;
    height: auto;
    width: 30%;
}