body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background: #222;
    color: #fff;
    text-align: center;
    padding: 20px;
}

h1 {    font-size: 24px;    }


.about-section, 
.activities-section {
    max-width: 1200px;
    margin: 20px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.about-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 800px;
    margin: 20px auto;
}

.profile-pic {
    width: 150px;
    border-radius: 10%;
}

.about-text { text-align: left; }

.gallery {
    display: flex;
    justify-content: center; 
    gap: 10px;
    padding: 10px;
}

.activity {
    flex: 1;
    background: white;
    padding: 8px;
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    height: 250px; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; 
}

.activity img {
    width: auto;
    height: 80px;
    border-radius: 5px;
    display: block;
    margin-top: 20px ;
}

.btn {
    width: 100px; 
    display: block;  
    margin: 10px auto;  
    padding: 6px 10px; 
    border-radius: 5px;
    background: black;
    color: white;
    text-decoration: none;
    text-align: center;  
}

.btn:hover { background: gray;  color: black; }

footer {
    text-align: center;
    background: black;
    color: white;
    padding: 10px;
}